  <!-- Page Content -->
<div id="page-content-wrapper">
	<div class="pagewidth">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header" id="archives">
					<h3>Archives</h3>
				</div>

				<ul class="ant-timeline" id="archivelist">


					{% comment %} Stickie list {% endcomment %}
					{% for post in site.posts %}

					{% if post.stickie != true %}
					{% continue %}
					{% endif %}


					<li class="ant-timeline-item">
						<div class="ant-timeline-item-tail"></div>
						<div class="ant-timeline-item-head ant-timeline-item-head-red"></div>
						<div class="ant-timeline-item-content">
							<span class="badge badge-danger">{{ post.date | date: "%Y-%m-%d" }}</span></p>
							<!--div class="d-flex align-items-center post-title"-->
								<a class="post-link h5 text-danger" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
							<!--/div-->
							
							<div class="introstyle">{{ post.intro }} </div>
							<B>分类:  </B>
							{% for cat in post.category %}
								<a href="{{site.url}}{{site.baseurl}}/categories.html">
								<span class="badge badge-danger">{{ cat }}</span></a>&nbsp;
							{% endfor %}
							<B>|&nbsp;</B>
							<B>标签:  </B>
							{% for Tag in post.tag %}
								<a href="{{site.url}}{{site.baseurl}}/categories.html">
								<span class="badge badge-danger">{{ Tag }}</span></a>&nbsp;
							{% endfor %}
							</p>
							
						</div>
					</li>
					{% endfor %}


					{% comment %} Normal post list {% endcomment %}
					{% for post in paginator.posts %}

					{% comment %} If it already showed in stickie list {% endcomment %}
					{% if post.stickie == true %}
					{% continue %}
					{% endif %}

					<li class="ant-timeline-item">
						<div class="ant-timeline-item-tail"></div>
						<div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
						<div class="ant-timeline-item-content">
							<span class="badge badge-primary">{{ post.date | date: "%Y-%m-%d" }}</span></p>
							<!--div class="d-flex align-items-center post-title"-->
								<a class="post-link h5 text-primary" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
							<!--/div-->
							
							<div class="introstyle">{{ post.intro }} </div>
							<B>分类:  </B>
							{% for cat in post.category %}
								<a href="{{site.url}}{{site.baseurl}}/categories.html">
								<span class="badge badge-primary">{{ cat }}</span></a>&nbsp;
							{% endfor %}
							<B>|&nbsp;</B>
							<B>标签:  </B>
							{% for Tag in post.tag %}
								<a href="{{site.url}}{{site.baseurl}}/categories.html">
								<span class="badge badge-primary">{{ Tag }}</span></a>&nbsp;
							{% endfor %}
							</p>
							
						</div>
					</li>
					{% endfor %}
				</ul>
				
				<!--pagination-->
				</p></p>
				{% if paginator.total_pages > 1 %}
					<div class="pagination">
					  {% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>&nbsp;&nbsp;
					  {% else %}
						<span style="color: gray;">&laquo; Previous </span>&nbsp;&nbsp;
					  {% endif %}

					  {% for page in (1..paginator.total_pages) %}
						{% if page == paginator.page %}
						  <B><span class="badge badge-danger">{{ page }}</span></B>&nbsp;&nbsp;&nbsp;
						{% elsif page == 1 %}
						  <a href="{{site.url}}{{site.baseurl}}">
						  <span class="badge badge-primary">{{ page }}</span></a>&nbsp;&nbsp;&nbsp;
						{% else %}
						  <a href="{{site.url}}{{site.baseurl}}/page{{ page }}">
						  <span class="badge badge-primary">{{ page }}</span></a>&nbsp;&nbsp;&nbsp;
						{% endif %}
					  {% endfor %}

					  {% if paginator.next_page %}
						<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Next &raquo;</a>
					  {% else %}
						<span style="color: gray;">Next &raquo;</span>
					  {% endif %}
					</div>
				{% endif %}
				
			</div>
	</div>
	</div>
</div>
<!-- /#page-content-wrapper -->
