<style>
	a.navbartext{
		cursor: pointer; 
		color: gray;
	}

	a.navbartext:hover{
		color: #000000;
	}
</style>

<ul class="sidebar-navx">
    <li title="²©ÎÄ">
        <a href="{{site.url}}{{site.baseurl}}/index.html">
            <i class="fa fa-file-archive-o" aria-hidden="true"></i>
            Music
		</a>
    </li>
    <li title="·ÖÀà">
        <a href="{{site.url}}{{site.baseurl}}/index.html">
            <i class="fa fa-tags" aria-hidden="true"></i>
            Gym
        </a>
    </li>
</ul>

