<style>
	a.navbartext{
		cursor: pointer; 
		color: gray;
	}

	a.navbartext:hover{
		color: #000000;
	}
</style>

<ul class="sidebar-nav">
    <li title="Ö÷Ò³">
        <a href="{{site.url}}{{site.baseurl}}/index.html">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
    </li>
	<li title="Music">
        <a href="{{site.url}}{{site.baseurl}}/Music.html" >
            <i class="fa fa-sliders" aria-hidden="true"></i>
            Music
        </a>
    </li>
    <li title="Gym">
        <a href="{{site.url}}{{site.baseurl}}/Gym.html" >
            <i class="fa fa-Mortar-board" aria-hidden="true"></i>
            Gym
        </a>
    </li>
    <li title="ËÑË÷">
    	<a class="navbartext" href="#search" id="cb-search-btn" style="">
			<i class="fa fa-search" aria-hidden="true"></i>
			Search
		</a>
	<li>
</ul>

