<link rel="shortcut icon" href="https://avatars1.githubusercontent.com/u/33953578?s=400&u=00a07f784c4703973f2e0e75845d66e05543b4d0&v=4" type="abcdxyz.ico" />
<div class="jumbotron text-center" id="jumbotron" style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpeg) no-repeat center center scroll;">
    <p class="display-4 pt-5 text-center text-primary animated fadeInDown">ABCDXYZ</p>
    <h5 class="text-center text-white animated fadeInDown">New journey. To be or not to be... </h5>
</div>
