<style>
	a.navbartext{
		cursor: pointer; 
		color: #9BCD9B;
	}

	a.navbartext:hover{
		color: #C0C0C0;
	}
</style>

<ul class="sidebar-nav">
    <li title="主页">
        <a href="{{site.url}}{{site.baseurl}}/index.html">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
    </li>
    <li title="博文">
        <a href="{{site.url}}{{site.baseurl}}/index.html#archives">
            <i class="fa fa-file-archive-o" aria-hidden="true"></i>
            Archives 
             <span class="text-warning pull-right">{{ site.posts.size}}</span>
		</a>
    </li>
    <li title="分类">
        <a href="{{site.url}}{{site.baseurl}}/categories.html">
            <i class="fa fa-tags" aria-hidden="true"></i>
            Categories
            <span class="text-warning pull-right">{{ site.categories.size}}</span>
        </a>
    </li>
    <li title="关于">
        <a href="{{site.url}}{{site.baseurl}}/about.html" >
            <i class="fa fa-user" aria-hidden="true"></i>
            About
        </a>
    </li>
    <li title="休闲">
        <a href="{{site.url}}{{site.baseurl}}/gym.html" >
            <i class="fa fa-university" aria-hidden="true"></i>
            Gym
        </a>
    </li>
    <li title="搜索">
    	<a class="navbartext" href="#search" id="cb-search-btn" style="">
			<i class="fa fa-search" aria-hidden="true"></i>
			Search
		</a>
	<li>
</ul>
